{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style":"css"}, "antd"],
    ["import", { "libraryName": "uibot-ui-antd", "libraryDirectory": "es", "style":"css"}, "uibot-ui-antd"]
  ]
}